NotPad { background-color: #f0f0f0; } /* #f0f0f0 was the default in the palette */

QScrollBar {
}
QScrollBar:horizontal {
    height: 14px;
}
QScrollBar:vertical {
    width: 14px;
/*    border-radius: 0px;*/     /* Looks bad */
/*    color: #333;*/            /* Does nothing */
}

QMenuBar {
/*    color: #333;*/       /* Don't set this because it overrides inactive colors */
    border-bottom: 1px solid rgba(0, 0, 0, 30);
    background-color: rgba(255, 255, 255, 50); /* Transparent background */
    padding: 1px;           /* Padding inside the whole menu bar */
}
QMenuBar::active {
    color: #333;            /* Affects the top menu bar but not inside the menus */
}
QMenuBar::item {
    background: transparent; /* For some weird reason when setting this, the font starts to look right (on Windows) */
    padding: 3px 8px;        /* Padding inside the menubar items e.g. File */
}
QMenuBar::item:selected {    /* Hover effect */
    background-color: rgba(0, 0, 0, 20); /* Darker background on hover */
}
QMenuBar::item:pressed {     /* Click effect */
    background-color: rgba(0, 0, 0, 10); /* Different darkness on click */
}

QMenu {
/*    color: #333;*/       /* Don't set this because it overrides inactive colors */
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 30);
    background-color: rgb(252, 252, 252);
    padding: 2px;
}
QMenu::active {
    color: #333;            /* Affects text and checkmark, but not (png) icons */
}
QMenu::separator {
    background: rgba(0, 0, 0, 30);
    height: 1px;
    margin-left: 26px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
}
/* The text section */
QMenu::item {
    padding-left: 12px;     /* Padding starting from an icon or indicator/checkmark, or from left of menu if the whole menu has no icons or indicators */
    padding-right: 12px;    /* Padding right of the shortcut key */
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 80px;        /* Can be used to make more space between text and shortcut. Seems to affect the text portion itself, the shortcut and icon sections excluded */
}
QMenu::item::active {
/*    color: #333;*/        /* Also affects text and checkmark, but not icons */
}
QMenu::item::disabled {
    color: #888;            /* Maybe adjust this later. The icon goes a bit grey, but no idea how to adjust that */
}
QMenu::item:selected {    /* Hover effect */
    background-color: rgba(0, 0, 0, 12); /* Darker background on hover */
}
QMenu::item:pressed {     /* Click effect */
    background-color: rgba(0, 0, 0, 6);  /* Different darkness on click */
}
/* The whole row, if the item is checked */
/*QMenu::item:checked {
    background-color: rgba(0, 0, 0, 30);
}*/
/* Checkable menu item checkmark (for items that don't have icon set) */
/* It seems quite weird to try to get this look same as an ::icon */
/* If you set this to same size as ::icon including its padding, the text will be misaligned */
/* So set this width to same as ::icon's without padding (16 px) */
/* This also affects uncheckable items that don't have icon, but only in menus that also contains items that have icon or are checkable */
QMenu::indicator {
/*    color: #F00;*/            /* Doesn't do anything */
    width: 16px;            /* 16px Same size as QMenu::icon (on Windows). 20px == icon size + padding */
    height: 16px;           /* 16px Same size as QMenu::icon (on Windows). 20px == icon size + padding */
    padding: 2px;           /* This pushes the text right. On ::icon it DOESN'T */
/*    background-color: pink;*/ /* Background of the check mark area, get's rid of the check icon */
}
QMenu::indicator::active {
/*    color: #F00;*/            /* Doesn't do anything */
}
QMenu::indicator:checked {

}
/* Need to set the colorized background size by padding. Width doesn't work */
QMenu::icon {
/*    width: 36px;*/        /* Doesn't have any effect */
    padding: 4px;           /* 4px padding == total size 24x24 px Same padding as QMenu::item -> vertically fills whole row */
    border-radius: 2px;
}
QMenu::icon:pressed,
QMenu::icon:checked {
    background-color: rgba(0, 0, 0, 16);
    padding: 3px;           /* Reduce padding same amount as border size */
    border: 1px inset lightgray;
}
/* QT EXAMPLE */
/*QMenu::icon:checked {
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}*/

QToolButton { /* vaikuttaa + nappiin */
/*    min-width: 50px;*/
    height: 20px;
    border: none;
    background-color: #f0f0f0; /* This disables the quirk that tab X buttons show from below */
}
QTabBar QToolButton { /* ei vaikuta + nappiin */
/*    padding: 1px;*/
/*    min-width: 50px;*/
/*    text-align: right;*/
/*    margin: 0px;*/
/*border: none;*/
/*    padding-left: 15px;*/
}
/*QTabBar QToolButton::right-arrow {
}
QTabBar QToolButton::left-arrow {
}*/
QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #000;
}
QTabWidget::tab-bar {
/*    right: 15px;*/ /* move to the left by 5px */
/*    alignment: right;*/
}
QTabBar::tab {
/*    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);*/
/*    border: 2px solid #C4C4C3;*/
/*    border-bottom-color: #C2C7CB;*/
/*    border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
    min-width: 20ex;
/*    padding: 2px;*/
/*    padding-left: 0px;*/ /* padding rikkoo koko setin */
/*    margin: 0px;*/
}

QTabBar::scroller { /* the width of the scroll buttons */
    width: 40px;
/*    background: solid;*/
}
/*QTabBar::close-button { Ei tunnu vaikuttavan tabien rakseihin
    image: url(close.png)
    subcontrol-position: left;
}
QTabBar::close-button:hover {
    image: url(close-hover.png)
}*/
QTabBar::tear {
    width: 10px;
/*    border: none;*/
}
