QScrollBar {
}
QScrollBar:horizontal {
    height: 14px;
}
QScrollBar:vertical {
    width: 14px;
/*    border-radius: 0px;*/     /* Looks bad */
/*    color: #333;*/            /* Does nothing */
}

/* File Edit Options etc */
/* Affects the top menu bar but not inside the menus */
QMenuBar {
    padding: 1px;           /* Padding inside the whole menu bar */
    /* padding-top: 0px;
    padding-bottom: 12px; */
}
/* Make the menubar smaller without the huge default padding */
QMenuBar::item {
    padding: 3px 8px;        /* Padding inside the menubar items e.g. File */
    border-radius: 0px;
}

QMenuBar QToolButton {
    /* Set the border here to have consistent size for non hover and hover */
    border-radius: 2px;
    /* 14px minimum for the icon */
    height: 16px;
    /* Hack required to make the icon look centered (at least on Windows) */
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 2px;
    /* If want to get it further from window border */
    /* margin-right: 4px;
    margin-bottom: 0px; */
}
QMenuBar QToolButton:hover
{
/* IDEA:
 Q-letter shape borders
 */
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px; */
}

QMenu {
    /* For some reason border-radius is not working on Qt 6.11 */
    border-radius: 0px;
    padding: 2px;
}
QMenu::separator {
    height: 1px;
    margin-left: 26px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
}
/* The text section */
QMenu::item {
    padding-left: 12px;     /* Padding starting from an icon or indicator/checkmark, or from left of menu if the whole menu has no icons or indicators */
    padding-right: 12px;    /* Padding right of the shortcut key */
    padding-top: 4px;
    padding-bottom: 4px;
    min-width: 80px;        /* Can be used to make more space between text and shortcut. Seems to affect the text portion itself, the shortcut and icon sections excluded */
}
/* Checkable menu item checkmark (for items that don't have icon set) */
/* It seems quite weird to try to get this look same as an ::icon */
/* If you set this to same size as ::icon including its padding, the text will be misaligned */
/* So set this width to same as ::icon's without padding (16 px) */
/* This also affects uncheckable items that don't have icon, but only in menus that also contains items that have icon or are checkable */
QMenu::indicator {
/*    color: #F00;*/            /* Doesn't do anything */
    width: 16px;            /* 16px Same size as QMenu::icon (on Windows). 20px == icon size + padding */
    height: 16px;           /* 16px Same size as QMenu::icon (on Windows). 20px == icon size + padding */
    padding: 2px;           /* This pushes the text right. On ::icon it DOESN'T */
/*    background-color: pink;*/ /* Background of the check mark area, get's rid of the check icon */
}
QMenu::indicator:active {
/*    color: #F00;*/            /* Doesn't do anything */
}
QMenu::indicator:checked {

}
/* Need to set the colorized background size by padding. Width doesn't work */
QMenu::icon {
/*    width: 36px;*/        /* Doesn't have any effect */
    padding: 4px;           /* 4px padding == total size 24x24 px Same padding as QMenu::item -> vertically fills whole row */
    border-radius: 4px;     /* 4px looks ok with the new windows11 style unchangeable menu radius */
/* IDEA:
 Q-letter shape borders
 */
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px; */
}
QMenu::icon:pressed {
    /* height: 24px; */   /* Does not affect */
    /* Needs hacking or some other solution for some icons to get the same size for the bordered area */
    /* padding-top: 6px;
    padding-bottom: 6px; */
}
QMenu::icon:checked {
    padding: 3px;           /* Reduce padding same amount as border size */
}
/* QT EXAMPLE */
/*QMenu::icon:checked {
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}*/

/* Tab overflow scroll buttons */
/* Set the size using QTabBar::scroller */
QTabBar QToolButton {

}
QTabBar QToolButton:hover
{
    border-radius: 0px;
}
QTabBar QToolButton:pressed
{

}
/* Setting width here for some reason disappears the arrow icons.
   Set it with QTabBar::scroller instead */
/*QTabBar QToolButton::right-arrow {
}
QTabBar QToolButton::left-arrow {
}*/
QTabWidget::pane { /* The tab widget frame */
    /* Color does not seem to affect */
    border-top: 0px solid;
}
QTabWidget::tab-bar {
/*    right: 15px;*/ /* move to the left by 5px */
/*    alignment: right;*/
}
QTabBar::tab {
/*    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);*/
    /* border: 1px solid #C4C4C3;
    border-bottom-color: #C2C7CB;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
    min-width: 20ex;
/*    padding: 2px;*/
/*    padding-left: 0px;*/ /* padding rikkoo koko setin */
/*    margin: 0px;*/
    height: 24px; /* Default height 24px */
    /* If set background-color, then the whole default style disappears */
    /* background-color: #fff; */
}

QTabBar::scroller { /* the width of the scroll buttons */
    width: 46px;
/*    background: solid;*/
}
/*QTabBar::close-button { Ei tunnu vaikuttavan tabien rakseihin
    image: url(close.png)
    subcontrol-position: left;
}
QTabBar::close-button:hover {
    image: url(close-hover.png)
}*/
QTabBar::tear {
    width: 10px;
/*    border: none;*/
}
